.resume-title {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
}

.job-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.job-details {
    display: flex;
    justify-content: space-between;
}

.resume-container {
    margin: 0 auto;
    width: 800px;
}