body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./Pics/cool-doge.gif");
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

@keyframes tile1_anim {
  0% {
    transform: translate(0%, 0%);
    left: 0%;
    top: 0%;
  }
  25% {
    transform: translate(-100%, 0%);
    left: 100%;
    top: 0%;
  }
  50% {
    transform: translate(-100%, -100%);
    left: 100%;
    top: 100%;
  }
  75% {
    transform: translate(0%, -100%);
    left: 0%;
    top: 100%;
  }
}

@keyframes tile2_anim {
  0% {
    transform: translate(-100%, 0%);
    left: 100%;
    top: 0%;
  }
  25% {
    transform: translate(-100%, -100%);
    left: 100%;
    top: 100%;
  }
  50% {
    transform: translate(0%, -100%);
    left: 0%;
    top: 100%;
  }
  75% {
    transform: translate(0%, 0%);
    left: 0%;
    top: 0%;
  }
}

@keyframes tile3_anim {
  0% {
    transform: translate(-100%, -100%);
    left: 100%;
    top: 100%;
  }
  25% {
    transform: translate(0%, -100%);
    left: 0%;
    top: 100%;
  }
  50% {
    transform: translate(0%, 0%);
    left: 0%;
    top: 0%;

  }
  75% {
    transform: translate(-100%, 0%);
    left: 100%;
    top: 0%;
  }
}

@keyframes tile4_anim {
  0% {
    transform: translate(0%, -100%);
    left: 0%;
    top: 100%;
  }
  25% {
    transform: translate(0%, 0%);
    left: 0%;
    top: 0%;
  }
  50% {
    transform: translate(-100%, 0%);
    left: 100%;
    top: 0%;
  }
  75% {
    transform: translate(-100%, -100%);
    left: 100%;
    top: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.home_img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 50%;
  transform: translate(-50%, -50%);
}

.tile1 {
  width: 100px;
  height: 100px;
  border-style: double;
  position: absolute;
  transform: translate(0%, 0%);
  left: 0%;
  top: 0%;
  animation: tile1_anim infinite 10s;
}

.tile2 {
  width: 100px;
  height: 100px;
  border-style: double;
  position: absolute;
  transform: translate(-100%, 0%);
  left: 100%;
  top: 0%;
  animation: tile2_anim infinite 10s;
}

.tile3 {
  width: 100px;
  height: 100px;
  border-style: double;
  position: absolute;
  transform: translate(-100%, -100%);
  left: 100%;
  top: 100%;
  animation: tile3_anim infinite 10s;
}

.tile4 {
  width: 100px;
  height: 100px;
  border-style: double;
  position: absolute;
  transform: translate(100%, -100%);
  left: 0%;
  top: 100%;
  animation: tile4_anim infinite 10s;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 6px 12px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
}

.storm-info {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 6px 12px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
}

.settings-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 6px 12px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
}

.tool-tip {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 6px 12px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}